<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mi Closet</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css"
    integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  
</head>
<body>

<nav class="navbar navbar-expand-sm navbar-dark " style="background: #41123d">
    <img src="../../assets/icono.png" class="mx-auto d-block" style="width:3%; background: cornsilk;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a style="color: #ffffff" class="nav-link " href="closet">Inicio</a>
        </li>
        <li class="nav-item">
          <a style="color: #ffffff" class="nav-link " href="index">Cerrar sesión</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class=" text-center">
    <h1 style="margin-bottom:0; color: #41123d; font-weight: bold">Mi Closet</h1>
    <br>
    
  </div>



  
  
<div class="container text-center" id="galeriaicon">
  <div class="row">
    <div class="col-sm-4" style="background-color:#f8bbd0">
      <h3>Superior Informal</h3>
     <a href ="closet-superior-inf" target="blank"><img src="assets/icon/isinf.png" alt="Galeria imagen" ></a>
      <p>Puedes ver las prendas de esta categoria y agregar nuevas </p>
    </div>
    <div class="col-sm-4">
      <h3>Superior Formal</h3>
      <a href ="closet-superior-for" target="blank"><img src="assets/icon/isfor.png" alt="Galeria imagen"></a>
      <p>Puedes ver las prendas de esta categoria y agregar nuevas </p>
    </div>
    <div class="col-sm-4" style="background-color:#f8bbd0">
      <h3>Inferior Informal</h3> 
     <a href ="closet-inferior-inf" target="blank"> <img src="assets/icon/iiinf.png" alt="Galeria imagen"></a>       
      <p>Puedes ver las prendas de esta categoria y agregar nuevas </p>
    </div>


     <div class="col-sm-4" >
      <h3>Inferior Formal</h3>  
     <a href ="closet-inferior-for" target="blank"><img src="assets/icon/iifor.png" alt="Galeria imagen"></a>     
      <p>Puedes ver las prendas de esta categoria y agregar nuevas </p>
    </div>


     <div class="col-sm-4" style="background-color:#f8bbd0">
      <h3>Vestido Informal</h3>  
     <a href ="closet-vestido-inf" target="blank"> <img src="assets/icon/ivinf.png" alt="Galeria imagen"></a>     
      <p>Puedes ver las prendas de esta categoria y agregar nuevas </p>
    </div>

     <div class="col-sm-4">
      <h3>Vestido Formal</h3>  
     <a href ="closet-vestido-for" target="blank"> <img src="assets/icon/ivfor.png" alt="Galeria imagen"></a>     
      <p>Puedes ver las prendas de esta categoria y agregar nuevas </p>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="page-footer font-small">

  <!-- Copyright -->
  <div class="foot footer-copyright text-center">© 2018 Copyright:
    <p>Atuendo del día</p>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

</body>
</html>


